<?xml version='1.0' encoding='utf-8'?>
<widget id="com.studiclock.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>StudiClock</name>
    <description>App Locker for Focus and Productivity</description>
    <author email="dev@studiclock.com">StudiClock Team</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="android-minSdkVersion" value="22" />
    <preference name="android-targetSdkVersion" value="33" />
</widget>